body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

h1{
    color: #eeeeee;
    text-align: center;
    height: 3rem;
    padding-top: 1rem;
    margin: 0;
}

 .container{
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .calc{
     display: grid;
     grid-template-columns: repeat(4, 60px);
     grid-template-rows: 160px repeat(5, 60px);
     background-color: #888888;
     padding: 10px;
     border-radius: 10px;

 }

 button{
     margin: 5px;
     background-color: #888888;
     color: #ffffff;
     font-size: 10px;
     border: none;
     cursor: pointer;
     padding: 0;
     border-radius: 100%;
     font-size: 20px;
 }

 button.numero:active{
     background-color: #aaa;
     transition: 100ms;
 }

 .display{
     grid-column: 1/-1;
     padding: 10px;
     display: flex;
     flex-direction: column;
     margin: 10px 10px 20px;
     color: #222;
     align-items: flex-end;
     background-color: #fff;
     border-radius: 10px;
     justify-content: space-between;
     height: 80px;
 }

 .double{
     grid-column: span 2;
     border-radius: 10px;
 }

 .double:active{
    background-color: #aaa;
    transition: 100ms;
 }

 .operador{
     color: #fff;
     border: solid 1px rgb(38 143 207);
     background-color: rgb(38 143 207);
 }
 
.operador:active{
    background-color: rgb(38 143 207 0.5);
    border: solid 1px rgb(38 143 207 0.5);
    transition: 100ms;
}

input{
    border: 0;
    text-align: right;
    width: 100%;
    font-size: 20px;
}

#main{
    font-size: 30px;
}

#sec{
    font-style: oblique;
}
